@import 'client/styles/colors';

.add-device {
  min-height: calc(100vh - 114px);
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  .form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: $main-blue;
  }
}
