@import 'client/styles/colors';

@keyframes color-change {
  0% {
    fill: #fff;
  }
  100% {
    fill: $accent;
  }
}

.loader {
  width: 60px;
  &_lightning {
    animation: color-change 1s linear infinite alternate both;
  }
  &_lamp {
    fill: $accent;
  }
}
